<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <a class="navbar-brand" href="/">CS 464 Project</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Items <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/items">Items</a></li>
                        <li><a href="/items/createitem">Create Item</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/groups">Groups</a></li>
                        <li><a href="/groups/creategroup">Create Group</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transactions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/transactions">Transactions</a></li>
                        <li><a href="/transactions/createtransaction">Create Transactions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/clients">Clients</a></li>
                        <li><a href="/clients/addclient">Add Client</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Employees <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/employees">Employees</a></li>
                        <li><a href="/employees/addemployee">Add Employee</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>