{{> navbar }}

<div class="container-fluid">
    <div class="container">
        <h1>Clients</h1>

        <table class="table table-bordered table-condensed">
            <tr>
                <th>Client ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
            {{#users}}
                <tr>
                    <td><a href="/client?id={{client_id}}">{{client_id}}</a></td>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                </tr>
            {{/users}}

        </table>
    </div>
</div>

{{>queryfooter}}

{{>footer}}