{{>navbar}}

<div class="container-fluid">
    <div class="container">
        <h1>Groups</h1>
        <table class="table table-bordered table-condensed">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {{#groups}}
                <tr>
                    <td><a href="/groups/group?name={{name}}">{{name}}</a></td>
                    <td>{{description}}</td>
                </tr>
            {{/groups}}
        </table>
    </div>
</div>

{{>queryfooter}}

{{>footer}}